<div class="full-container">

  <div class="container">
    <section class="view-container">
      <canvas class="map-viewer" #canvas  (click)="changeMapRadiation()"></canvas>
    </section>
    <section class="buttons">
      <button [ngClass]="{'button' : imageSrc != 'assets/mapa.jpeg', 'button-selected' : imageSrc == 'assets/mapa.jpeg'}"  (click)="changeMapType('assets/mapa.jpeg')" >weather</button>
      <button  [ngClass]="{'button' : imageSrc != 'assets/mapa2.jpeg', 'button-selected' : imageSrc == 'assets/mapa2.jpeg'}" (click)="changeMapType('assets/mapa2.jpeg')">scan</button>
      <button  [ngClass]="{'button' : imageSrc != 'assets/mapa3.jpeg', 'button-selected' : imageSrc == 'assets/mapa3.jpeg'}" (click)="changeMapType('assets/mapa3.jpeg')">geologic</button>
    </section>
  </div>
</div>