.view-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-canvas{
    width: 80%;
}

.button{
    font-family: 'stud-chaos', sans-serif;
    font-size: 2rem;
    margin: 0px 0.5rem 1rem 0;
    background-color: rgb(241,90,41,0.8);
    height: 4rem;
    width: 10rem;
    color: #000000;
    border-radius: 0px 0px 1rem 0px;
}


.right-buttons{
    //center without flexbox
    display: block;
    margin: 0 auto;

}

.left-button{
    display: block;
    margin: 0 auto;
}

.buttons-subcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mark{
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    position: absolute;
    left: 0;
    top: 0;
}


.row{
    width: 2rem;
}

#leftrow{
    border-radius: 0px 0px  0px 1rem;
}

.radar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.radar-container img{
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}

.button-selected{
    font-family: 'stud-chaos', sans-serif;
    font-size: 2rem;
    margin: 0px 0.5rem 1rem 0;
    background-color: #DC752A;
    height: 4rem;
    width: 10rem;
    color: #000000;
    border-radius: 0px 0px 1rem 0px;
}