<!--Canvas to scroll large images with buttons-->

<div class="view-container">
  <canvas (click)="openFullController()"  class="my-canvas" #canvas></canvas>
</div>
<br>
  <div class="buttons">
    <section class="buttons-subcontainer">
      <div>
        <button [ngClass]="{'button' : state != 'remote', 'button-selected' : state == 'remote' }"  (click)="changeState('remote')">Remote</button>
        <button class="button" id="leftrow" *ngIf="state == 'remote' " 
         (click)="this.moveImage(-10,0)" 
         (touchstart)="onHoldStart(0)" (touchend)="onHoldEnd(0)" (touchend)="onHoldEnd(0)">
          <img src="assets/leftrow.png" alt="" class="row" >
        </button>
      </div>
    </section>

    <section class="buttons-subcontainer">
      <div>
        <button [ngClass]="{'button' : state != 'automatic', 'button-selected' : state == 'automatic' }" (click)="changeState('automatic')" >Auto</button>
        <button class="button" *ngIf="state == 'remote'" (click)="this.moveImage(10,0)"
        (touchstart)="onHoldStart(2)" (touchend)="onHoldEnd(2)" (touchend)="onHoldEnd(2)" >
          <img src="assets/rightrow.png" alt="" class="row">
        </button>
      </div>
    </section>


  </div>
  <div class="radar-container" *ngIf="state == 'remote'">
    <img src="assets/radar.png" alt="radar" class="radar">
  </div>