<div class="container">
  <img src="assets/spaceman.png" alt="spaceman" class="spaceman">
  <!--native table-->
  <table class="table">
    <thead>
      <section class="spot-colection">
        <div class="blue-spot"></div>
        <div class="blue-spot"></div>
        <div class="blue-spot"></div>
      </section>
    </thead>
    <tr class="time">
      <p>{{time}}</p>
    </tr>
    <tr>
      <section class="signals-default">
        <img src="assets/planet.png" alt="planet-default" class="planet">
        <div class="status">
          <div class="bars-cointer">
            <img src="assets/bars.png" alt="bars" class="bars">
          </div>
          <section class="pulso">
            <img src="assets/heart_red.png" alt="reds heart">
            <p>{{pulse_1}}</p>
          </section>
          <section class="pulso">
            <img src="assets/heart_white.png" alt="reds heart">
            <p>{{pulse_2}}</p>
          </section>
        </div>
      </section>
    </tr>
  </table>
</div>