<div class="full-container">
  <div class="mark">
    <section class="content">

      <section class="chargeLogo">
        <img src="assets/chargeLogo.png" alt="charge logo">
      </section>

      <section class="interaction">
        <div class="buttons">
          <!--Delete opacy if is Selected-->
          <button (click)="changeStatus('Community')">Community</button>
          <button (click)="changeStatus('Controls')">Controls</button>
          <button (click)="changeStatus('Maps')">Maps</button>
          <button (click)="changeStatus('User')">User</button>
        </div>
        <div class="pannel">
          <!--
            -->
            <!--
              -->
              <app-controls *ngIf="generalStatus == 'Controls'"></app-controls>
              <app-greeting *ngIf="generalStatus=='welcome' "></app-greeting>
              <app-comunity-content *ngIf="generalStatus == 'Community'"></app-comunity-content>
              <app-user *ngIf="generalStatus == 'User'"></app-user>
        </div>
      </section>


    </section>
  </div>
</div>