<div class="full-container">
  <div class="mark">
    <section class="content">

      <section class="chargeLogo">
        <img src="assets/chargeLogo.png" alt="charge logo">
      </section>

      <section class="interaction">
        <div class="buttons">
          <!--Delete opacy if is Selected-->
          <button>Community</button>
          <button>Controls</button>
          <button>Maps</button>
          <button>User</button>
        </div>
        <div class="pannel">
          <!--
            <app-greeting></app-greeting>
            -->
            <!--
              <app-comunity-content></app-comunity-content>
              -->
              <app-user></app-user>
        </div>
      </section>


    </section>
  </div>
</div>