<div class="full-container">
  <div class="container">
    <div>
      <button class="button-section">
        Comunity
      </button>
      <button class="button-section">
        Control
      </button>
      <button class="button-section">
        Maps
      </button>
    
      <button class="button-section">
        User
      </button>
    </div>
    <div class="message-container">
      <section class="message">
        <p>Welcome to Multitax, the official application of our internal services, we thank our collaborators for the opportunity to create a multifunctional interface for the various tasks of our partners, always remember to smile and finish your tasks, Multitex is grateful for your good work.</p>
      </section>
    </div>
  </div>

</div>